.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

%contact-shared {
  border-radius: 3px;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  transition: 0.5s;
  outline: none;
}

%btn-shared {
  padding: 0.75rem;
  display: inline-block;
  background: none;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 20rem;
}

%title-shared {
  font-size: 2rem;
  display: inline-block;
}

.btn {
  &-apply {
    &-dark {
      @extend %btn-shared;
      border: 2px solid $text-dark;
      color: $text-dark;
    }

    &-light {
      @extend %btn-shared;
      border: 2px solid $text-light;
      color: $text-light;
    }
  }
}

.py {
  &-1 {
    padding: 1rem 0rem;
  }
  &-2 {
    padding: 2rem 0rem;
  }
  &-3 {
    padding: 3rem 0rem;
  }
}

.my {
  &-1 {
    margin: 1rem 0rem;
  }
  &-2 {
    margin: 2rem 0rem;
  }
  &-3 {
    margin: 3rem 0rem;
  }
}

.centered {
  text-align: center;
}

.title {
  &-dark {
    @extend %title-shared;
    border-bottom: 3px solid $color2;
  }

  &-light {
    @extend %title-shared;
    border-bottom: 3px solid $text-light;
  }
}

.lead {
  font-size: 1.1rem;
}

#hr {
  background: $bg-light;
  color: $text-dark;
}
